{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'writing/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'writing/layout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'writing/skeleton.css' %}" />

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Index</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Load in jQuery -->
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'> 
	</script> 

	<script>
	$(document).ready(function() {
		$(".hovers").find("button").hide();
		$(".hovers").hover(function() {
			$(this).css("background-color", "E1FFFF");
			$(this).find("button").show();
		},
	 	function() {
			$(this).css("background-color", "FFFFFF");
			$(this).find("button").hide();
	 	});
		});
	</script>

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">crEDIT</h1>
			<h5>Version .01</h5>
			<hr/>
		</div>

<button> <a style = "text-decoration : none"
href="/writing/addpaper"> Add Paper </a> 
</button>

{% if get_papers %}
    {% for thepaper in get_papers %}
	<div class = "hovers">
        <h2> <a href="{% url 'paper' thepaper.title %}">
	 {{thepaper.title}} </a> </h2> <p>
	Author: {{thepaper.by_user}}<p>
	<button class = "hovers" style = "background-color: F08080"> Delete </button>
	</div>
    {% endfor %}
{% else %}
    <p>No papers are here... yet.</p>
{% endif %}

	</div><!-- container -->


<!-- End Document
================================================== -->
</body>